.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;

}

.header {
  background-color: gray;
  height: 20%;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.filter {
  background-color: lightgray;
  width: 20%;
}

.detail {
  background-color: white;
  width: 60%;
}